//custom variables
// $primary : rgb(86, 11, 101);
// $primary: #6D28D9;
$primary: linear-gradient(to bottom right, #9933ff 0%, #9900cc 100%);
// $secondary: #6E6E6E;
$secondary: #6B7280;
$info : dodgerblue;
$danger : rgb(180, 4, 39);
$success : #10B981;
$warning: #ff6600;


// import bootstrap functions
@import './node_modules/bootstrap/scss/_functions.scss';
@import './node_modules/bootstrap/scss/_variables.scss';

$custom-theme-colors: (
    'alt-primary': $primary,
    'alt-dark': rgb(45, 45, 45)
);

$theme-colors :map_merge($custom-theme-colors, $theme-colors);
// import bootstrap


@import './node_modules/bootstrap/scss/bootstrap.scss';

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

input.form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}

.form-select:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}

.form-floating label {
    font-size: 13px;
}